<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="portfolio.css">
</head>

<body>
    <label class="percent-label" for="wordpress">Wordpress</label>
    <div class="empty-percentage-bar">
        <div class="filled-percentage-bar">90%</div>
    </div>
    <label class="percent-label" for="php">PHP</label>
    <div class="empty-percentage-bar">
        <div class="filled-percentage-bar" style="width: 75%; background-color: #3FA5D5;">75%</div>
    </div>
    <label class="percent-label" for="html">HTML</label>
    <div class="empty-percentage-bar">
        <div class="filled-percentage-bar" style="width: 93%; background-color: #69A138;">93%</div>
    </div>
    <label class="percent-label" for="css">CSS</label>
    <div class="empty-percentage-bar">
        <div class="filled-percentage-bar" style="width: 80%; background-color: #FBBE2C;">80%</div>
    </div>
    <label class="percent-label" for="mysql">MySQL</label>
    <div class="empty-percentage-bar">
        <div class="filled-percentage-bar" style="width: 70%; background-color: #E92E00;">70%</div>
    </div>
</body>

</html>