html, body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

p{
    word-break: break-all;
}

/*Menu*/
.menu_container{
    display: flex;
    padding: 20px;
    background-color: #1c1808;
    font-family: cursive;
    font-weight: 300;
    color: white;
}

.menu_item{
    flex: 1;
}

.more{
    flex: 1;
}

.menu_container
.menu_item nav ul{
    display: flex;
}

.menu_container
.menu_item nav ul li a{
    color: white;
    padding: 21px 37px;
    border-radius: 3px;
}

.menu_container
.menu_item nav ul li a:hover{
    background-color: #becccf;
    color: #1c1808;
}

/*Title*/
.title_container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.title_container h3{
    padding-top: 10px;
    flex: 7;
}

.title_container h1{
    flex: 1;
}

/*Main Content*/
.main_content{
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_content .sub_main{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_content .img{
    background-color: #a5c5cc;
    width: 100%;
}

.main_content .img img{
    width: 100%;
    height: 100px;
}

.main_content .main-items{
    border: 1px solid black;
    width: 360px;
    height: 390px;
    margin: 10px 0;
    border-radius: 5px;
}

.main_content .main-items:hover{
    box-shadow: 0px 0px 20px #becccf;
}

.main_content .main-items .img_content{
    padding: 10px;
    word-wrap: normal;
}

.flex_container{
    width: 60%;
    height: 200px;
    margin: 100px auto;
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: space-around;
    background-color: black;
}

.flex_container2{
    width: 60%;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.flex_container3{
    width: 40%;
    height: 200px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.flex_container4{
    width: 40%;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.flex_container5{
    width: 40%;
    height: 300px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.flex_item{
    background-color: beige;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 100px;
}

.flex_item2{
    background-color: beige;
    width: 200px;
    height: 200px;
    text-align: center;
}

.flex_item_expanded{
    background-color: bisque;
    width: 500px;
}

.flex_item_expanded2{
    background-color: blueviolet;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 100px;
    flex-grow: 2;
}

.first-item{
    order: 1;
}

.second-item{
    order: 2;
}

.last-item{
    order: 3;
}

.first-item2{
    order: 1;
}

.second-item2{
    order: 2;
}

.last-item2{
    order: -1;
}